# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.env
.venv
env/
venv/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Logs file
*.log

# Other pyfiles
auth.py
temp.py